@import url("https://fonts.googleapis.com/css2?family=Timmana&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --accent-color-dark: #511845;
  --accent-color-mid: #900c3f;
  --accent-color-alt: #c70039;
  --accent-color-light: #ff5733;
  --color-light: #ccc;
  --header-font: Timmana;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  margin: 1rem 0 0.5em 0;
  font-weight: bolder;
  text-transform: capitalize;
  line-height: 1.2;
}

label {
  font-size: 1.4rem;
  font-family: var(--header-font);
}

input {
  font-size: 14pt;
  padding: 2vmin;
  border-radius: 2vmin;
  color: #555;
  letter-spacing: 0.05em;
  width: 100%;
}

h1 {
  font-size: 2em;
}

a.button,
button {
  /* background: var(--accent-color-dark); */
  color: var(--accent-color-dark);
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  border-style: solid;
  border-color: var(--accent-color-mid) var(--accent-color-mid)
    var(--accent-color-mid) var(--accent-color-mid);
  border-width: 1px 4px 2px 1px;
  margin: 1rem 0 1rem auto;
  cursor: pointer;
  background: white;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Open Sans";
  font-weight: bold;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: "Fira Code";
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

#sapper {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--accent-color-dark);
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 8pt;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px #000a;
}

main {
  padding: 2em;
  align-self: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem 0 0 0;
  text-shadow: -1px -1px #fff2, 1px 1px #000a;
}

.page-content {
  flex: 1;
  padding: 1rem;
  border: solid;
  border-color: #aaa #aaa #aaa8 #aaa4;
  border-width: 0 4px 2px 1px;
  border-radius: 0 0 1rem 0;
}
