header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;

  background: #ff5733;

  h2 {
    color: white;
  }

  a {
    color: white;
  }

  nav {
    a {
      margin: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  width: 100%;
  padding: 2rem;

  .main-header {
    text-align: center;
  }

  .ant-form {
    margin: auto;
  }
}
